site_name: Get5 Documentation
site_url: https://splewis.github.io/get5
repo_url: https://github.com/splewis/get5
repo_name: splewis/get5
edit_uri: https://github.com/splewis/get5/blob/master/documentation/docs
theme:
  icon:
    logo: simple/counterstrike
  features:
    - content.code.annotate
    - navigation.tracking
    - navigation.sections
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - swagger-ui-tag
  - mike:
      # These fields are all optional; the defaults are as below...
      canonical_version: null
      version_selector: true
      css_dir: css
      javascript_dir: js
nav:
  - Home: index.md
  - Setup:
      - Installation: installation.md
      - Configuration: configuration.md
  - Basics:
      - Getting Started: getting_started.md
      - Match Schema: match_schema.md
      - Map Veto: veto.md
      - Commands: commands.md
      - Coaching: coaching.md
      - Pausing: pausing.md
      - Backup System: backup.md
      - GOTV & Demos: gotv.md
  - Advanced:
      - Developers: developers.md
      - Events & Forwards: events_and_forwards.md
      - Player Stats System: stats_system.md
      - Translations: translations.md
  - Social:
      - Community & Support: community.md
markdown_extensions:
  - abbr
  - tables
  - meta
  - admonition
  - attr_list
  - def_list
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
extra_css:
  - stylesheets/extra.css
extra:
  version:
    default: latest
    provider: mike
