name: Publish MKDocs to GH Pages
on:
  push:
    branches:
      - "master"
      - "0.9"

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        # Or use mhausenblas/mkdocs-deploy-gh-pages@nomaterial to build without the mkdocs-material theme
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CONFIG_FILE: documentation/mkdocs.yml
          EXTRA_PACKAGES: build-base
          REQUIREMENTS: documentation/requirements.txt
